<div class="head">
  <h2>My Shopping Bag</h2>
  <h2 class="right">Order Total: {{total | currency}}</h2>
</div>
<table>
  <thead>
    <tr>
      <th>
        Product
      </th>
      <th>
        Quantity
      </th>
      <th>
        Sub-total
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in cart track by $index">
      <td>
        <div><h3>{{item.info.name}}</h3></div>
        <div><img src={{item.info.imageUrl}} alt="Tea Image" /></div>
        <div><strong>Caffeine Scale: </strong><span>{{item.info.caffeineScale}}</span></div>
        <div><strong>Ingredients: </strong><span>{{item.info.ingredients}}</span></div>
        <div><strong>Rating: </strong><span>{{item.info.rating}}</span></div>
      </td>
      <td>
        <span ng-hide="qtyForm">{{item.quantity}}</span>
        <input type="number" name="qty" ng-model='qty' ng-show="qtyForm" value='{{item.quantity}}'>
      </td>
      <td>
        <span>{{item.quantity * (item.info.price * .01) | currency}}</span>
      </td>
      <td>
        <button class='orange' type="button" name="button" ng-hide="qtyForm" ng-click="editQty()">Edit</button>
        <button class='orange' type="button" name="button" ng-show="qtyForm" ng-click="updateQty()">Update</button>
        <button class='red' type="button" name="button" ng-click="removeItem()">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
